@use 'mixins';

.footer {
  color: white;
  background: linear-gradient(90deg, #707070 0%, #474747 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  &__left {
    margin-right: auto;
  }

  a {
    color: white;
  }
  p {
    display: flex;
    margin: 0;
    @include mixins.centered;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
